<h1>Editing businesspartner</h1>

<%= render "form", businesspartner: @businesspartner %>

<br>

<div>
  <%= link_to "Show this businesspartner", @businesspartner %> |
  <%= link_to "Back to businesspartners", businesspartners_path %>
</div>
